@import "bourbon";
@import "font-awesome";

body {
  // background: grey;
}

.container {
  width: auto;
  height: 800px;;
  background-image: url(http://wallpapercave.com/wp/vND5klG.jpg);
  background-size: contain;
  background-repeat: none;
}

header {
  color: white;

  h2 {
    margin: 0;
    padding: 20px 20px;
    text-align: center;
  }
}

.title {
  width: 100%;
  height: 340px;
  text-align: center;
}

.character {
  // background-image:
  display: inline;
  margin: 20px;
}

.ggImg {
  border-radius: 3px;
  width: 20%;
  height: auto;
}

.bgImg {
  border-radius: 3px;
}

.error {
  width: 100%;
  height: 60px;
  margin: 0;
}

.errorMessages {
  height: 50px;
  width: 300px;
  margin: 0;
  background: white;
  border-radius: 3px;
  color: black;
  text-align: center;
}

.players {
  width: 100%;
  height: 500px;
  text-align: center;
}

.progress {
    display: inline;
}

.player {
  height: 130px;
  width: 30%;
  margin-top: 10px;
  background: white;
  border-radius: 3px;
  
  float: left;
}

button {
  width: 70px;
  height: 30px;
  border: 0;
  margin-top: 10px;
  outline: none;
  color: white;
  border-radius: 3px;
  decoration: none;
}

.healthBar[value] {
  
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

