@import "bourbon";
@import "font-awesome";

body {
  background: grey;
}

.players {
  width: 100%;
  display: inline;
}

.goodGuy {
  // width: 40%;
  // height: 40px;

}

.badGuy {
  // width: 40%;
  // height: 40px;
}
